@{
    ViewData["Title"] = "Xadar Adventures";
}

<div class='container'>
    <h1 class='text-center' style='padding-top:150px;'>Please download the Xadar Adventures mobile app to launch a challenge</h1>
</div>